.Jovera_services_container {
    background-image: url('../../Assets/homebg.png');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
}

.first_card_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.second_card_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.card_image_one {
    width: 45%;
    height: auto;
    background: #242527;
    text-align: start;
    padding: 20px 0px 20px 20px;

}

.services_text {
    color: #E3C086;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.4px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.real_estate_text {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-top: 3%;
}

.service_text {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.72px;
}

.logo_image_services {
    animation: rotateScale 3s infinite ease-in-out;
    width: 100%;
    max-width: 35px;
    height: 100%;
    max-height: 35px;
}

@keyframes rotateScale {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.View_btn_of_cards {
    font-size: 16px;
    padding: 0.8em 2em;
    cursor: pointer;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg,
            rgb(182, 157, 94, 1) 0%,
            rgb(182, 157, 94, 0.4) 100%);
    box-shadow: rgb(182, 157, 94, 0.2) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgb(182, 157, 94, 1);
}

.View_btn_of_cards:hover {
    transform: perspective(180px) rotateX(30deg) translateY(2px);
}

.View_btn_of_cards:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
}

@media(max-width:1150px) and (min-width:590px) {
    .service_text {
        font-size: 16px;
    }

    .real_estate_text {
        font-size: 22px;
    }

    .services_text {
        font-size: 18px;
    }
}

@media(max-width:850px) {
    .first_card_container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .second_card_container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .card_image_one {
        width: 70%;
        height: auto;
        background: #242527;
        text-align: start;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:590px) and (min-width:200px) {
    .card_image_one {
        width: 100%;
        height: auto;
        background: #242527;
        text-align: start;
        padding: 0px 0px 0px 0px;
        margin-bottom: 20px;
    }

    .services_text {
        color: #E3C086;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14.4px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }

    .real_estate_text {
        color: #FFF;
        font-size: 16px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.72px;
        margin-top: 3%;
    }

    .service_text {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.72px;
    }
}

@media(max-width:420px) {
    .card_image_one {
        width: 100%;
        height: auto;
    }
}